body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
   }
   
   header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
   }
   
   
   nav ul li {
    display: inline-block;
    padding: 10px;
   }
   
   nav ul li a {
    text-decoration: none;
    color: #333;
   }
   
   nav ul li a:hover {
    color: #999;
   }
   
   main {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
   }
   
   h1, h2, h3 {
    color: rgb(255, 123, 0);
   }
   
   p {
    color: rgb(255, 123, 0);
    position: relative;
    top: 300px; 
    left: 20px;

   }
   
   footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
   }

.btn {
    cursor: pointer;
    appearance: none;
    background-color: #e67e22;
    border: 1px solid #e67e22;
    border-radius: 15px;
    color: white;
    font-size: 10pt;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    white-space: nowrap;
    top: 10px; 
    left: 20px;
}

.btn:hover {
    background-color: #c26d14;
    border-color: #c26d14;

}

.btn:active {
    background-color: #a05e10;
    border-color: #a05e10;
}

.btn:focus {
    outline: none;
}

 .logotipo {
    width: 300px; 
    height: auto;

   } 